body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

a:hover {
	color: silver;
}

section {
	padding-top: 7.5em;	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.header {
	background: url('../img/header-bg.jpg') no-repeat center top / cover;
	padding-top: 3.5em;
	color: #fff;
	padding-bottom: 40em;
}

header a {
	color: #fff;
}

.logo {
	margin-right: 3.5em;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li {
	margin-right: 3.5em;
}

.tel {
	font-size: 17px;
	text-decoration: none;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
	display: flex;
	align-items: center;
}

.offer {
	text-transform: uppercase;
	margin-top: 13.5em;
	margin-right: 0 auto;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
	font-size: 6em;
	margin-bottom: 0.2em;
	margin-top: -10px;
	letter-spacing: 0.02em
}

.btn {
	display: block;
	font-size: 1em;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 1em 3em;
	border: 1px solid #fff;
	width: 14.8em;
	transition: all 0.8s ease;
}

.btn:hover {
	background: #fff;
    color: #000;
}

.title h1{
	letter-spacing: 0.05em;
	font-size: 3.15em;
}

.description {
	margin-top: 3.8em;
	margin-right: 1em;
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.description h3 {
	letter-spacing: 0.1em;
}

.desc-left, .desc-right {
	width: 48%;
}

.gallery {
	margin-top: 4.15em;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.9s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-text {
	display: flex;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	padding: 5em 0
}

.footer-text p {
	margin-right: 4.7em;
	justify-content: space-between;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.image-src {
	width: 23%;
}

.image-src2 {
	width: 52%;
}

@media screen and (min-width: 1500px)
{
	body {
		font-size: 22px;
	}

	h3 {
		font-size: 35px;
	}

	.footer-text {
		font-size: 1.5em;
	}

	.title h1{
		font-size: 4.15em;
	}

	.offer p {
		font-size: 2em;
	}

	.offer h1 {
		font-size: 8em;
	}

	.btn {
		font-size: 1.8em;
		border: 3px solid #fff;
		width: 14.8em;
	}

	.description p {
		font-size: 45px;
	}

	.description h3 {
		font-size: 70px;
		letter-spacing: 0.1em;
	}

	.menu li a {
		font-size: 1.5em;
	}

	.tel {
		font-size: 2em;
	}

	.logo {
		width: 3%;
	}
}

@media screen and (max-width: 360px)
{
	.tel {
		font-size: 13px;
	}

	.offer {
		word-wrap: break-word;
		margin-top: 13.5em;
	}

	.offer p {
		font-size: 20px;
	}

	.offer h1 {
		font-size: 3em;
		margin-bottom: 0.2em;
	}

	.logo {
		margin-right: 0.6em;
	}

	.menu {
		display: flex;
		width: 100%;
	}

	.menu li a {
		font-size: 11px;
		letter-spacing: 0.1em;
	}

	.menu li {
		margin-right: 0.2em;
	}

	.title h1{
		letter-spacing: 0.05em;
		font-size: 3.15em;
	}

	.description {
		margin-top: 3.8em;
		margin-right: 1em;
		display: inline-block;
	}

	.description p {
		line-height: 1.62em;
	}

	.description h3 {
		letter-spacing: 0.1em;
	}

	.gallery {
		margin-top: 4.15em;
		display: inline-block;
		text-align: center;
		vertical-align: center;
	}

	.gallery img {
		transition: all 0.9s ease;
	}

	.gallery img:hover {
		box-shadow: 0 20px 40px rgba(0,0,0,0.3);
		transform: scale(1.1);
	}
	.desc-left, .desc-right {
		width: 100%;
	}

	.image-src, .image-src2 {
		width: 100%;
	}
}

@media screen and (max-width: 600px) and (min-width: 360px)
{
	.logo {
		margin-right: 1em;
	}

	.menu {
		display: flex;
		width: 100%;
	}

	.menu li a {
		font-size: 14px;
		letter-spacing: 0.1em;
	}

	.menu li {
		margin-right: 0.5em;
	}

	.title h1{
		letter-spacing: 0.05em;
		font-size: 3.15em;
	}

	.description {
		margin-top: 3.8em;
		margin-right: 1em;
		display: inline-block;
		text-align: center;
		vertical-align: center;
	}

	.description p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-align: justify;
		line-height: 1.62em;
	}

	.description h3 {
		letter-spacing: 0.1em;
	}

	.gallery {
		margin-top: 4.15em;
		display: inline-block;
		text-align: center;
		vertical-align: center;
	}

	.gallery img {
		transition: all 0.9s ease;
	}

	.gallery img:hover {
		box-shadow: 0 20px 40px rgba(0,0,0,0.3);
		transform: scale(1.1);
	}
	.desc-left, .desc-right {
		width: 100%;
	}

	.image-src, .image-src2 {
		width: 100%;
	}
}


